## Assignment 6 answers

Importing plotly libraries

In [1]:
import plotly.express as px
import pandas as pd

Using Plotly express as px, source the data using the command px.data.gapminder() and save it
into a dataframe. Based on the data, map the following information with the appropriate
geographical plot.

In [2]:
# sourcing the dataset
df = px.data.gapminder()

#saving it into a dataframe
df.to_csv("gapminder.csv")

# reading/loading the dataset using pandas
pd.read_csv("gapminder.csv")
df.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [3]:
df.shape

(1704, 8)

In [4]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap',
       'iso_alpha', 'iso_num'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 106.6+ KB

In [6]:
df.describe()

             year      lifeExp           pop      gdpPercap      iso_num
count  1704.00000  1704.000000  1.704000e+03    1704.000000  1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081   425.880282
std      17.26533    12.917107  1.061579e+08    9857.454543   248.305709
min    1952.00000    23.599000  6.001100e+04     241.165876     4.000000
25%    1965.75000    48.198000  2.793664e+06    1202.060309   208.000000
50%    1979.50000    60.712500  7.023596e+06    3531.846989   410.000000
75%    1993.25000    70.845500  1.958522e+07    9325.462346   638.000000
max    2007.00000    82.603000  1.318683e+09  113523.132900   894.000000

1. The mean life expectancy of all the Asian countries according to the data.

In [7]:
asia_cont.head()

NameError: name 'asia_cont' is not defined

In [ ]:
asia_cont = df[df["continent"]=="Asia"]
asia_cont_country = asia_cont.groupby("country")["lifeExp"].mean().reset_index()
asia_cont_country.head()

In [ ]:
fig = px.bar(asia_cont_country, x='country', y='lifeExp', color="country", title = "Mean lifeExp in Asian Countries"
            )
fig.show()

2. Deviation in GDP of each country in Europe and South America.

In [ ]:
# getting the needed continents
es = ["Europe","Americas"]

# extracting needed info
data_E_SA = df[df.continent.isin(es)]
data_E_SA.head()

In [ ]:
data_E_SA.columns

In [ ]:
data_E_SA.continent.value_counts()

In [ ]:
gdp_data = data_E_SA.groupby("country")["gdpPercap"].sum()
fig = px.bar(data_E_SA, x="country", y="gdpPercap", hover_name="continent", color="continent",
             title = "GDP of countries in the following continents:- 1.Europe 2.Americas")
fig.show()

3. The change in population of each African country in the last 3 decades.

In [ ]:
df.year.value_counts()

In [ ]:
africa_data = df[df.continent=="Africa"]
decades = [1982,1987,1992,1997,2002,2007]
africa_data_3decades = africa_data[africa_data.year.isin(decades)].reset_index()
africa_data_3decades.head()

In [ ]:
fig = px.scatter(africa_data_3decades, x="year", y="pop",
                 hover_name="country",size="pop", color="country",
                log_x=True,
                title = "Population change in Africa over the last 3 decades ")
fig.show()